<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>pbxMon</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/login.css">
    </head>

    <body>
    <div class="container">
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="img/photo.jpg" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="/img/avatar.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin" action="/login" method="post">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="text" class="form-control" name="username" placeholder="enter username" required autofocus>
                <input type="password" class="form-control" name="password" placeholder="enter password" required>
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="rememberme"> Recordarme
                    </label>
                    <a href="#" class="forgot-password"> Forgot the password?</a>
                </div>
                <button type="submit" class="btn btn-lg btn-success btn-block btn-signin"> 登 录 </button>
            </form>
        </div>
    </div>
    </body>
</html>