
body {
    color: #555555;
    font-size: 15px;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.navbar .navbar-nav li a {
    font-size: 16px;
}

.breadcrumb .pull-right:before {
    content: "";
}

table th {
    text-align: center;
}

table tr td {
    text-align: center;
}

.table>thead>tr>th, .table>tbody>tr>td {
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #fafafa;
}

.form-group input {
    font-weight: solid;
}

.main {
    margin-top: -5px;
}

.form-inline {
    padding-left: 12px;
}

.query {
    margin-top: 3px;
    margin-bottom: 10px;
    margin-right: 3px;
}

.form-group {
    margin-left: 5px;
    margin-right: 5px;
}

.form-group .start, .form-group .end {
    width: 100px;
    font-weight: solid;
}

.form-group .caller, .form-group .called {
    width: 120px;

}

.form-group .talktime {
    width: 70px;
    font-weight: solid;
}

form .btn {

}
