
body {
    color: #555555;
    font-size: 15px;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.navbar .navbar-nav li a {
    font-size: 16px;
}

.breadcrumb .pull-right:before {
    content: "";
}

.badge-default {
    background-color: #999999;
}

.badge-success {
    background-color: #5da55d;
}

.badge-warning {
    background-color: #efa133;
}

.badge-danger {
    background-color: #ce514e;
}

.main {
    margin-top: -5px;
}

.breadcrumb .add {
    margin-right: 20px;
}

table th, table tr td {
    text-align: center;
}

.table>thead>tr>th, .table>tbody>tr>td {
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #fafafa;
}

form {
    margin-top: 10px;
}

form .form-group button, form .form-group a {
    width: 80px;
    margin-right: 20px;
}

.rule {
    font-size: 13px;
    font-weight: bold;
}