
body {
    color: #555555;
    font-size: 15px;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.navbar .navbar-nav li a {
    font-size: 16px;
}

.breadcrumb .pull-right:before {
    content: "";
}

.badge-default {
    background-color: #999999;
}

.badge-success {
    background-color: #5da55d;
}

.badge-primary {
    background-color: #518abb;
}

.badge-info {
    background-color: #8ac9dc;
}

.badge-warning {
    background-color: #efa133;
}

.badge-danger {
    background-color: #ce514e;
}

.main {
    margin-top: -5px;
}

.box {
	margin-top: 10px;
	padding: 20px;
}
