
body {
    color: #555555;
    font-size: 15px;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.navbar .navbar-nav li a {
    font-size: 16px;
}

.breadcrumb .pull-right:before {
    content: "";
}

.main {
    margin-top: -5px;
}

.box {
	margin-top: 20px;
	padding: 20px;
}

.form-control-static {
    min-height: 34px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 0;
}